* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {

  /* Principal colors */
  --color-red: #E3646E;
  --color-purple: #BB72E9;
  --color-blue: #3996DB;
  --color-green: #82BC4F;
  --color-yellow: #EABD5F;

  /* Base colors */
  --color-gray-100: #0D0E11;
  --color-gray-200: #16181D;
  --color-gray-300: #292C34;
  --color-gray-400: #878EA1;
  --color-gray-500: #C0C4CE;
  --color-gray-600: #E2E4E9;

  /* Font Asap */
  --font-family-asap: "Asap", sans-serif;
  --text-title-lg: 700 56px/120% var(--font-family-asap);
  --text-title-md: 700 24px/120% var(--font-family-asap);
  --text-title-sm: 700 16px/120% var(--font-family-asap);

  /* Font Inconsolata */
  --font-family-inconsolata: "Inconsolata", monospace;
  --text-subtitle: 400 20px/120% var(--font-family-inconsolata);

  /* Font Maven Pro */
  --font-family-Maven-pro: "Maven Pro", sans-serif;
  --text-md: 400 16px/140% var(--font-family-Maven-pro);
  --text-sm: 14px/140% var(--font-family-Maven-pro);
}

body {
  font: var(--text-sm);
  background-color: var(--color-gray-200);
  color: var(--color-gray-400);
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: var(--color-blue);
}

h1,
h2,
h3 {
  font: inherit;
}


.container {
  max-width: 1040px;
  margin: auto;
}

section {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 8px;
    }
